<!DOCTYPE html>
<html>
<head>
  <title>WcaCompetitions</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="language">
      <%= link_to "German", url_for(:locale => :de) %> | <%= link_to "English", url_for(:locale => :en) %>
    </div>
  </header>

  <%= yield %>

</body>
</html>
